<div class="list">
  
  <div class="add">
    <a href="" ng-click="addResource()">+ Add a New Resource</a>
  </div>

  <div class="item" ng-class="{'editing-item': editing, 'archived': resource.archived, 'edited': resource.edited}" ng-repeat="resource in resources | orderBy: 'archived'" ng-init="resource.archived = false">
    <input ng-model="resource.archived" type="checkbox"/><span ng-click="resource.archived = !resource.archived; resource.edited = true"></span>
    <label ng-click="editing = true" ng-hide="editing">{{resource.title}}</label>
    <input ng-change="resource.edited = true" ng-blur="editing = false" ng-show="editing" ng-model="resource.title" class="editing-label" type="text" />
  
    <div class="actions">
      <a href="" ng-click="saveResources(resource)">Save</a>
      <a href="" ng-click="deleteResource(resource, $index)" class="delete">Delete</a>
    </div>
  </div>
  
</div>